body {
    background-color: black;
}

#Pieza{
    position: absolute;
    width:1000px ;

    z-index: -1;
}
#cola{
    position: absolute;
    width: 200px;
    top: 20%;
    z-index: 2;

}
#papel{
    position: absolute;
    left: 27%;
    top: 22%;


}
#envoltorio{
    position: absolute;
    left: 10%;
}
#pizza{
    position: absolute;
    left:  60%;
    top:  60%;
}
#pregunta{
    position: absolute;
    width: 400px;
}