body {
    background-color: black;
}

#Pieza{
    position: absolute;
    width:1250px ;
    left: 10%;

    z-index: -1;
}
#cola{
    position: absolute;
    width: 200px;
    top: 17%;
    left: 12%;
    z-index: 2;

}
#papel{
    position: absolute;
    left: 45%;
    top: 38%;


}
#envoltorio{
    position: absolute;
    left: 23%;
    top:  45%;
}
#pizza{
    position: absolute;
    left:  78%;
    top:  30%;
}
