body {
    background-color: black;
}

#explosion{
    position: absolute;
    width:1250px ;
    left:  10%;
    
    z-index: -1;
}
#gameover{
    position: relative;
    width: 1000px;
    left:  42%;
    top:  10000%;
}