body {
    background-color: black;
}

#parque{
    position: absolute;
    width:1000px ;
    left:  15%;
    top: -7%;
    z-index: -1;
}
#goodending{
    position:  absolute;
    width: 150px;
    left: 70%;
    top: 100%;
}