body {
    background-color: black;
}

#explosion2{
    position: absolute;
    width:1500px ;
    left:  0%;
    
    
    z-index: -1;
}
#gameover{
    position: relative;
    width: 1000px;
    left:  17%;
    top:  10000%;
}