{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static '6to.css' %}">
	<title>explosion2</title>

</head>
<body>
	<img id="explosion2" src="https://piskel-imgstore-b.appspot.com/img/befab928-57ba-11ec-b046-1fe1de6cd574.gif">
	<img id= "gameover" src= https://cdn.discordapp.com/attachments/897501108325457936/917921807967871076/SINCUDRAO.png>
</html>