{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static '5to.css' %}">
	<title>parque</title>
</head>
<body>
	<img id = "parque" src="https://piskel-imgstore-b.appspot.com/img/6e961d63-561e-11ec-9e43-5f4d9eeb2bfd.gif">
	<img id ="goodending" src= "https://t0.rbxcdn.com/fcb25b21a3bbd9b3af12ba6fbda25513">
</body>
</html>