{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "2do.css" %}">
    <title>Pieza!</title>
</head>
<body>
    <img id="Pieza" src=https://piskel-imgstore-b.appspot.com/img/dbe79178-4d2e-11ec-991a-bb104c982eb9.gif>
    {% if objetos.0 == "0" %}
        <a href=".?objects=1{{objetos.1}}{{objetos.2}}{{objetos.3}}"><img id="cola" src="https://piskel-imgstore-b.appspot.com/img/c3ff2547-4d2f-11ec-8f15-bb104c982eb9.gif"></a>
    {% endif %}
    {% if objetos.1 == "0" %}
        <a href=".?objects={{objetos.0}}1{{objetos.2}}{{objetos.3}}"><img id="papel" src="https://piskel-imgstore-b.appspot.com/img/0db4ad6b-4d2f-11ec-9869-bb104c982eb9.gif"></a>
    {% endif %}
    {% if objetos.2 == "0" %}
         <a href=".?objects={{objetos.0}}{{objetos.1}}1{{objetos.3}}"><img id="envoltorio" src="https://piskel-imgstore-b.appspot.com/img/485a3f5e-4d2f-11ec-b6d2-bb104c982eb9.gif" ></a>
    {% endif %}
    {% if objetos.3 == "0" %}
        <a href=".?objects={{objetos.0}}{{objetos.1}}{{objetos.2}}1"><img id="pizza" src="https://piskel-imgstore-b.appspot.com/img/9efad72e-4d2f-11ec-9e27-bb104c982eb9.gif"></a>
    {% endif %}
    <img id="pregunta" src="">
    <img id="r1" src="https://piskel-imgstore-b.appspot.com/img/68f76c30-4d6d-11ec-b819-fbbce060269d.gif">
    <img id="r2" src="https://piskel-imgstore-b.appspot.com/img/68f76c30-4d6d-11ec-b819-fbbce060269d.gif">
    <img id="r2" src="https://piskel-imgstore-b.appspot.com/img/68f76c30-4d6d-11ec-b819-fbbce060269d.gif">
    <a href="/casa1/?objectsPrev={{objetosActuales}}"><button>Siguiente Escenario</button></a>
</body>
</html>