{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '1er.css' %}">
    <title>Inicio!</title>
</head>
<body>
        <a href="/pieza"><img id="Jugar" src=https://piskel-imgstore-b.appspot.com/img/955362b3-4ced-11ec-a17f-bb16ace9c06b.gif></a>
        <img id="Titulo" src=https://media.discordapp.net/attachments/897501108325457936/917925197263294484/cuadro.gif>
        <img id="fondo" src=https://piskel-imgstore-b.appspot.com/img/ccfad6c0-4cf2-11ec-958f-bb16ace9c06b.gif>

</body>
</html>