body {
    background-color: black;

}
#Titulo{
    position: relative;
    left: 500px;
    bottom:800px;
    z-index: 1;
}

#fondo {
    position: relative;
    width:840px;
    right: 120px;
    z-index: -1;

}
#Jugar{
    position: relative;
    left: 860px;
    bottom: 200px;
}
#boton{
    color: black;
}