body {
    background-color: black;
}

#Pieza{
    position: relative;
    width:1000px ;
    left:500px ;
    top: 200px;
    z-index: -1;
}
#cola{
    position: relative;
    width: 200px;
    bottom: 90px;
    z-index: 2;

}
#papel{
    position: relative;
    left: 10px;
}
#envoltorio{
    position: relative;
    left: -10px;
}
#pizza{
    position: relative;
    left: 600px;
    top: -200px;
}
#pregunta{
    position: relative;
    width: 400px;
}